:root {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 400;

  color-scheme: dark;
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --toastify-color-dark: #1a1a1a;
  --toastify-color-success: #1088fa;
  --toastify-color-error: #ff2b16;
}

body {
  margin: 0;
  padding: 0;
}

.demo-editor {
  border-radius: 26px;
}

.demo-wrapper {
  border-radius: 26px;
  /* min-height: 200px; */
  padding: 15px;
}

.rdw-editor-toolbar {
  border: none;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper,
.rdw-editor-toolbar,
.demo-editor,
.demo-wrapper {
  background: #403e4c;
}

.rdw-dropdown-wrapper:hover {
  box-shadow: 1px 1px 0px #bfbdbd;
  background-color: #403e4c;
}

.rdw-dropdown-optionwrapper {
  background: #403e4c;
}

.rdw-dropdownoption-active {
  background: #403e4c87;
}

.css-nx53lr {
  margin-bottom: 144px;
  margin-left: 88px;
  margin-right: 88px;
  width: 100%;
}

.rdw-option-wrapper > img {
  fill: white !important;
  color: white !important;
  filter: invert(99%) sepia(6%) saturate(14%) hue-rotate(158deg)
    brightness(105%) contrast(100%);
}

.rdw-dropdown-carettoopen {
  border-top: 6px solid white;
}
/* .css-nx53lr {
  margin: 60px 88px;
  width: 100%;
} */
/* 
.rdw-dropdown-wrapper {
  background: #403e4c;
} */

.rdw-dropdown-optionwrapper:hover {
  background: #34333e;
}
.rdw-dropdownoption-highlighted {
  background: #34333e;
}

.rdw-dropdownoption-active {
  background: #403e4c4d;
}

.MuiDataGrid-overlay {
  visibility: hidden;
  position: relative;
}

.MuiDataGrid-overlay::after {
  content: "No records available";
  visibility: visible;
  position: absolute;
  color: white;
  font-size: 25px;
  top: 60%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust the positioning */
}
